.appear-under-50,
.appear-under-100,
.appear-under-150,
.appear-under-200,
.appear-under-250,
.appear-under-300,
.appear-under-350,
.appear-under-400,
.appear-under-450,
.appear-under-500,
.appear-under-550,
.appear-under-600,
.appear-under-650,
.appear-under-690,
.appear-under-700,
.appear-under-750,
.appear-under-800,
.appear-under-850,
.appear-under-900,
.appear-under-950,
.appear-under-1000,
.appear-under-1050,
.appear-under-1100{ display: none; }

.box-appear-under-50,
.box-appear-under-100,
.box-appear-under-150,
.box-appear-under-200,
.box-appear-under-250,
.box-appear-under-300,
.box-appear-under-350,
.box-appear-under-400,
.box-appear-under-450,
.box-appear-under-500,
.box-appear-under-550,
.box-appear-under-600,
.box-appear-under-650,
.box-appear-under-690,
.box-appear-under-700,
.box-appear-under-750,
.box-appear-under-800,
.box-appear-under-850,
.box-appear-under-900,
.box-appear-under-950,
.box-appear-under-1000,
.box-appear-under-1050,
.box-appear-under-1100{ display: none; }





.margin-width-1-over-50,
.margin-width-1-over-100,
.margin-width-1-over-150,
.margin-width-1-over-200,
.margin-width-1-over-250,
.margin-width-1-over-300,
.margin-width-1-over-350,
.margin-width-1-over-400,
.margin-width-1-over-450,
.margin-width-1-over-500,
.margin-width-1-over-550,
.margin-width-1-over-600,
.margin-width-1-over-650,
.margin-width-1-over-690,
.margin-width-1-over-700,
.margin-width-1-over-750,
.margin-width-1-over-800,
.margin-width-1-over-850,
.margin-width-1-over-900,
.margin-width-1-over-950,
.margin-width-1-over-1000,
.margin-width-1-over-1050,
.margin-width-1-over-1100 { margin-left: 1rem;  margin-right: 1rem;}

.margin-width-2-over-50,
.margin-width-2-over-100,
.margin-width-2-over-150,
.margin-width-2-over-200,
.margin-width-2-over-250,
.margin-width-2-over-300,
.margin-width-2-over-350,
.margin-width-2-over-400,
.margin-width-2-over-450,
.margin-width-2-over-500,
.margin-width-2-over-550,
.margin-width-2-over-600,
.margin-width-2-over-650,
.margin-width-2-over-690,
.margin-width-2-over-700,
.margin-width-2-over-750,
.margin-width-2-over-800,
.margin-width-2-over-850,
.margin-width-2-over-900,
.margin-width-2-over-950,
.margin-width-2-over-1000,
.margin-width-2-over-1050,
.margin-width-2-over-1100 { margin-left: 2rem;  margin-right: 2rem;}

.margin-width-3-over-50,
.margin-width-3-over-100,
.margin-width-3-over-150,
.margin-width-3-over-200,
.margin-width-3-over-250,
.margin-width-3-over-300,
.margin-width-3-over-350,
.margin-width-3-over-400,
.margin-width-3-over-450,
.margin-width-3-over-500,
.margin-width-3-over-550,
.margin-width-3-over-600,
.margin-width-3-over-650,
.margin-width-3-over-690,
.margin-width-3-over-700,
.margin-width-3-over-750,
.margin-width-3-over-800,
.margin-width-3-over-850,
.margin-width-3-over-900,
.margin-width-3-over-950,
.margin-width-3-over-1000,
.margin-width-3-over-1050,
.margin-width-3-over-1100 { margin-left: 3rem;  margin-right: 3rem;}

.margin-width-4-over-50,
.margin-width-4-over-100,
.margin-width-4-over-150,
.margin-width-4-over-200,
.margin-width-4-over-250,
.margin-width-4-over-300,
.margin-width-4-over-350,
.margin-width-4-over-400,
.margin-width-4-over-450,
.margin-width-4-over-500,
.margin-width-4-over-550,
.margin-width-4-over-600,
.margin-width-4-over-650,
.margin-width-4-over-690,
.margin-width-4-over-700,
.margin-width-4-over-750,
.margin-width-4-over-800,
.margin-width-4-over-850,
.margin-width-4-over-900,
.margin-width-4-over-950,
.margin-width-4-over-1000,
.margin-width-4-over-1050,
.margin-width-4-over-1100 { margin-left: 4rem;  margin-right: 4rem;}

.margin-width-5-over-50,
.margin-width-5-over-100,
.margin-width-5-over-150,
.margin-width-5-over-200,
.margin-width-5-over-250,
.margin-width-5-over-300,
.margin-width-5-over-350,
.margin-width-5-over-400,
.margin-width-5-over-450,
.margin-width-5-over-500,
.margin-width-5-over-550,
.margin-width-5-over-600,
.margin-width-5-over-650,
.margin-width-5-over-690,
.margin-width-5-over-700,
.margin-width-5-over-750,
.margin-width-5-over-800,
.margin-width-5-over-850,
.margin-width-5-over-900,
.margin-width-5-over-950,
.margin-width-5-over-1000,
.margin-width-5-over-1050,
.margin-width-5-over-1100 { margin-left: 5rem;  margin-right: 5rem;}

.margin-width-6-over-50,
.margin-width-6-over-100,
.margin-width-6-over-150,
.margin-width-6-over-200,
.margin-width-6-over-250,
.margin-width-6-over-300,
.margin-width-6-over-350,
.margin-width-6-over-400,
.margin-width-6-over-450,
.margin-width-6-over-500,
.margin-width-6-over-550,
.margin-width-6-over-600,
.margin-width-6-over-650,
.margin-width-6-over-690,
.margin-width-6-over-700,
.margin-width-6-over-750,
.margin-width-6-over-800,
.margin-width-6-over-850,
.margin-width-6-over-900,
.margin-width-6-over-950,
.margin-width-6-over-1000,
.margin-width-6-over-1050,
.margin-width-6-over-1100 { margin-left: 6rem;  margin-right: 6rem;}

.margin-width-7-over-50,
.margin-width-7-over-100,
.margin-width-7-over-150,
.margin-width-7-over-200,
.margin-width-7-over-250,
.margin-width-7-over-300,
.margin-width-7-over-350,
.margin-width-7-over-400,
.margin-width-7-over-450,
.margin-width-7-over-500,
.margin-width-7-over-550,
.margin-width-7-over-600,
.margin-width-7-over-650,
.margin-width-7-over-690,
.margin-width-7-over-700,
.margin-width-7-over-750,
.margin-width-7-over-800,
.margin-width-7-over-850,
.margin-width-7-over-900,
.margin-width-7-over-950,
.margin-width-7-over-1000,
.margin-width-7-over-1050,
.margin-width-7-over-1100 { margin-left: 7rem;  margin-right: 7rem;}

.margin-width-8-over-100,
.margin-width-8-over-150,
.margin-width-8-over-200,
.margin-width-8-over-250,
.margin-width-8-over-300,
.margin-width-8-over-350,
.margin-width-8-over-400,
.margin-width-8-over-450,
.margin-width-8-over-500,
.margin-width-8-over-550,
.margin-width-8-over-600,
.margin-width-8-over-650,
.margin-width-8-over-690,
.margin-width-8-over-700,
.margin-width-8-over-750,
.margin-width-8-over-800,
.margin-width-8-over-850,
.margin-width-8-over-900,
.margin-width-8-over-950,
.margin-width-8-over-1000,
.margin-width-8-over-1050,
.margin-width-8-over-1100 { margin-left: 8rem;  margin-right: 8rem;}

@media (max-width: 50px) {
    .vanish-under-50{ display: none !important; }
    .appear-under-50{ display: flex; }
    .box-appear-under-50{ display: block; }
    .margin-width-1-over-50,
    .margin-width-2-over-50,
    .margin-width-3-over-50,
    .margin-width-4-over-50,
    .margin-width-5-over-50,
    .margin-width-6-over-50,
    .margin-width-7-over-50,
    .margin-width-8-over-50{ margin-left: 0 !important; margin-right: 0 !important;}
}
@media (max-width: 100px) {
    .vanish-under-100{ display: none !important; }
    .appear-under-100{ display: flex; }
    .box-appear-under-100{ display: block; }
    .margin-width-1-over-100{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-2-over-100{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-3-over-100{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-4-over-100{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-5-over-100{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-6-over-100{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-7-over-100{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-8-over-100{ margin-left: 0 !important; margin-right: 0 !important;}
}
@media (max-width: 150px) {
    .vanish-under-150{ display: none !important; }
    .appear-under-150{ display: flex; }
    .box-appear-under-150{ display: block; }
    .margin-width-1-over-150{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-2-over-150{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-3-over-150{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-4-over-150{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-5-over-150{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-6-over-150{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-7-over-150{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-8-over-150{ margin-left: 0 !important; margin-right: 0 !important;}
}
@media (max-width: 200px) {
    .vanish-under-200{ display: none !important; }
    .appear-under-200{ display: flex; }
    .box-appear-under-200{ display: block; }
    .margin-width-1-over-200{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-2-over-200{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-3-over-200{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-4-over-200{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-5-over-200{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-6-over-200{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-7-over-200{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-8-over-200{ margin-left: 0 !important; margin-right: 0 !important;}
}
@media (max-width: 250px) {
    .vanish-under-250{ display: none !important; }
    .appear-under-250{ display: flex; }
    .box-appear-under-250{ display: block; }
    .margin-width-1-over-250{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-2-over-250{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-3-over-250{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-4-over-250{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-5-over-250{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-6-over-250{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-7-over-250{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-8-over-250{ margin-left: 0 !important; margin-right: 0 !important;}
}
@media (max-width: 300px) {
    .vanish-under-300{ display: none !important; }
    .appear-under-300{ display: flex; }
    .box-appear-under-300{ display: block; }
    .margin-width-1-over-300{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-2-over-300{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-3-over-300{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-4-over-300{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-5-over-300{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-6-over-300{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-7-over-300{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-8-over-300{ margin-left: 0 !important; margin-right: 0 !important;}
}
@media (max-width: 350px) {
    .vanish-under-350{ display: none !important; }
    .appear-under-350{ display: flex; }
    .box-appear-under-350{ display: block; }
    .margin-width-1-over-350{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-2-over-350{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-3-over-350{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-4-over-350{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-5-over-350{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-6-over-350{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-7-over-350{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-8-over-350{ margin-left: 0 !important; margin-right: 0 !important;}
}
@media (max-width: 400px) {
    .vanish-under-400{ display: none !important; }
    .appear-under-400{ display: flex; }
    .box-appear-under-400{ display: block; }
    .margin-width-1-over-400{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-2-over-400{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-3-over-400{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-4-over-400{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-5-over-400{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-6-over-400{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-7-over-400{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-8-over-400{ margin-left: 0 !important; margin-right: 0 !important;}
}
@media (max-width: 450px) {
    .vanish-under-450{ display: none !important; }
    .appear-under-450{ display: flex; }
    .box-appear-under-450{ display: block; }
    .margin-width-1-over-450{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-2-over-450{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-3-over-450{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-4-over-450{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-5-over-450{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-6-over-450{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-7-over-450{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-8-over-450{ margin-left: 0 !important; margin-right: 0 !important;}
}
@media (max-width: 500px) {
    .vanish-under-500{ display: none !important; }
    .appear-under-500{ display: flex; }
    .box-appear-under-500{ display: block; }
    .margin-width-1-over-500{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-2-over-500{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-3-over-500{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-4-over-500{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-5-over-500{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-6-over-500{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-7-over-500{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-8-over-500{ margin-left: 0 !important; margin-right: 0 !important;}
}
@media (max-width: 550px) {
    .vanish-under-550{ display: none !important; }
    .appear-under-550{ display: flex; }
    .box-appear-under-550{ display: block; }
    .margin-width-1-over-550{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-2-over-550{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-3-over-550{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-4-over-550{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-5-over-550{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-6-over-550{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-7-over-550{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-8-over-550{ margin-left: 0 !important; margin-right: 0 !important;}
}
@media (max-width: 600px) {
    .vanish-under-600{ display: none !important; }
    .appear-under-600{ display: flex; }
    .box-appear-under-600{ display: block; }
    .margin-width-1-over-600{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-2-over-600{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-3-over-600{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-4-over-600{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-5-over-600{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-6-over-600{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-7-over-600{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-8-over-600{ margin-left: 0 !important; margin-right: 0 !important;}
}
@media (max-width: 650px) {
    .vanish-under-650{ display: none !important; }
    .appear-under-650{ display: flex; }
    .box-appear-under-650{ display: block; }
    .margin-width-1-over-650{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-2-over-650{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-3-over-650{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-4-over-650{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-5-over-650{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-6-over-650{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-7-over-650{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-8-over-650{ margin-left: 0 !important; margin-right: 0 !important;}
}
@media (max-width: 689px) {
    .vanish-under-690{ display: none !important; }
    .appear-under-690{ display: flex; }
    .box-appear-under-690{ display: block; }
    .margin-width-1-over-690{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-2-over-690{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-3-over-690{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-4-over-690{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-5-over-690{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-6-over-690{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-7-over-690{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-8-over-690{ margin-left: 0 !important; margin-right: 0 !important;}
}
@media (max-width: 700px) {
    .vanish-under-700{ display: none !important; }
    .appear-under-700{ display: flex; }
    .box-appear-under-700{ display: block; }
    .margin-width-1-over-700{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-2-over-700{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-3-over-700{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-4-over-700{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-5-over-700{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-6-over-700{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-7-over-700{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-8-over-700{ margin-left: 0 !important; margin-right: 0 !important;}
}
@media (max-width: 750px) {
    .vanish-under-750{ display: none !important; }
    .appear-under-750{ display: flex; }
    .box-appear-under-750{ display: block; }
    .margin-width-1-over-750{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-2-over-750{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-3-over-750{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-4-over-750{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-5-over-750{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-6-over-750{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-7-over-750{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-8-over-750{ margin-left: 0 !important; margin-right: 0 !important;}
}
@media (max-width: 800px) {
    .vanish-under-800{ display: none !important; }
    .appear-under-800{ display: flex; }
    .box-appear-under-800{ display: block; }
    .margin-width-1-over-800{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-2-over-800{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-3-over-800{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-4-over-800{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-5-over-800{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-6-over-800{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-7-over-800{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-8-over-800{ margin-left: 0 !important; margin-right: 0 !important;}
}
@media (max-width: 850px) {
    .vanish-under-850{ display: none !important; }
    .appear-under-850{ display: flex; }
    .box-appear-under-850{ display: block; }
    .margin-width-1-over-850{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-2-over-850{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-3-over-850{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-4-over-850{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-5-over-850{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-6-over-850{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-7-over-850{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-8-over-850{ margin-left: 0 !important; margin-right: 0 !important;}
}
@media (max-width: 900px) {
    .vanish-under-900{ display: none !important; }
    .appear-under-900{ display: flex; }
    .box-appear-under-900{ display: block; }
    .margin-width-1-over-900{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-2-over-900{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-3-over-900{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-4-over-900{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-5-over-900{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-6-over-900{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-7-over-900{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-8-over-900{ margin-left: 0 !important; margin-right: 0 !important;}
}
@media (max-width: 950px) {
    .vanish-under-950{ display: none !important; }
    .appear-under-950{ display: flex; }
    .box-appear-under-950{ display: block; }
    .margin-width-1-over-950{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-2-over-950{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-3-over-950{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-4-over-950{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-5-over-950{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-6-over-950{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-7-over-950{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-8-over-950{ margin-left: 0 !important; margin-right: 0 !important;}
}
@media (max-width: 1000px) {
    .vanish-under-1000{ display: none !important; }
    .appear-under-1000{ display: flex; }
    .box-appear-under-1000{ display: block; }
    .margin-width-1-over-1000{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-2-over-1000{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-3-over-1000{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-4-over-1000{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-5-over-1000{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-6-over-1000{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-7-over-1000{ margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-8-over-1000{ margin-left: 0 !important; margin-right: 0 !important;}
}
@media (max-width: 1050px) {
    .vanish-under-1050 {display: none !important;}
    .appear-under-1050 {display: flex;}
    .box-appear-under-1050 {display: block;}
    .margin-width-1-over-1050 {margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-2-over-1050 {margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-3-over-1050 {margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-4-over-1050 {margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-5-over-1050 {margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-6-over-1050 {margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-7-over-1050 {margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-8-over-1050 {margin-left: 0 !important; margin-right: 0 !important;}
}
@media (max-width: 1100px) {
    .vanish-under-1100 {display: none !important;}
    .appear-under-1100 {display: flex;}
    .box-appear-under-1100 {display: block;}
    .margin-width-1-over-1100 {margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-2-over-1100 {margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-3-over-1100 {margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-4-over-1100 {margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-5-over-1100 {margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-6-over-1100 {margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-7-over-1100 {margin-left: 0 !important; margin-right: 0 !important;}
    .margin-width-8-over-1100 {margin-left: 0 !important; margin-right: 0 !important;}
}

.margin-auto { margin: auto;}

.padding-1{ padding: 1rem; }
.padding-2{ padding: 2rem; }
.padding-3{ padding: 3rem; }
.padding-4{ padding: 4rem; }
.padding-5{ padding: 5rem; }
.padding-6{ padding: 6rem; }
.padding-7{ padding: 7rem; }
.padding-8{ padding: 8rem; }

.margin-1{ margin: 1rem; }
.margin-2{ margin: 2rem; }
.margin-3{ margin: 3rem; }
.margin-4{ margin: 4rem; }
.margin-5{ margin: 5rem; }
.margin-6{ margin: 6rem; }
.margin-7{ margin: 7rem; }
.margin-8{ margin: 8rem; }

.margin-bottom-1{ margin-bottom: 1rem; }
.margin-bottom-2{ margin-bottom: 2rem; }
.margin-bottom-3{ margin-bottom: 3rem; }
.margin-bottom-4{ margin-bottom: 4rem; }
.margin-bottom-5{ margin-bottom: 5rem; }
.margin-bottom-6{ margin-bottom: 6rem; }
.margin-bottom-7{ margin-bottom: 7rem; }
.margin-bottom-8{ margin-bottom: 8rem; }

.margin-top-1{ margin-top: 1rem; }
.margin-top-2{ margin-top: 2rem; }
.margin-top-3{ margin-top: 3rem; }
.margin-top-4{ margin-top: 4rem; }
.margin-top-5{ margin-top: 5rem; }
.margin-top-6{ margin-top: 6rem; }
.margin-top-7{ margin-top: 7rem; }
.margin-top-8{ margin-top: 8rem; }

.margin-width-1 { margin-left: 1rem;  margin-right: 1rem;}
.margin-width-2 { margin-left: 2rem;  margin-right: 2rem;}
.margin-width-3 { margin-left: 3rem;  margin-right: 3rem;}
.margin-width-4 { margin-left: 4rem;  margin-right: 4rem;}
.margin-width-5 { margin-left: 5rem;  margin-right: 5rem;}
.margin-width-6 { margin-left: 6rem;  margin-right: 6rem;}
.margin-width-7 { margin-left: 7rem;  margin-right: 7rem;}
.margin-width-8 { margin-left: 8rem;  margin-right: 8rem;}

.margin-height-1 { margin-top: 1rem;  margin-bottom: 1rem;}
.margin-height-2 { margin-top: 2rem;  margin-bottom: 2rem;}
.margin-height-3 { margin-top: 3rem;  margin-bottom: 3rem;}
.margin-height-4 { margin-top: 4rem;  margin-bottom: 4rem;}
.margin-height-5 { margin-top: 5rem;  margin-bottom: 5rem;}
.margin-height-6 { margin-top: 6rem;  margin-bottom: 6rem;}
.margin-height-7 { margin-top: 7rem;  margin-bottom: 7rem;}
.margin-height-8 { margin-top: 8rem;  margin-bottom: 8rem;}

.margin-left-1 { margin-left: 1rem; }
.margin-left-2 { margin-left: 2rem; }
.margin-left-3 { margin-left: 3rem; }
.margin-left-4 { margin-left: 4rem; }
.margin-left-5 { margin-left: 5rem; }
.margin-left-6 { margin-left: 6rem; }
.margin-left-7 { margin-left: 7rem; }
.margin-left-8 { margin-left: 8rem; }

.margin-top-1 { margin-top: 1rem; }
.margin-top-2 { margin-top: 2rem; }
.margin-top-3 { margin-top: 3rem; }
.margin-top-4 { margin-top: 4rem; }
.margin-top-5 { margin-top: 5rem; }
.margin-top-6 { margin-top: 6rem; }
.margin-top-7 { margin-top: 7rem; }
.margin-top-8 { margin-top: 8rem; }

.margin-right-1 { margin-right: 1rem; }
.margin-right-2 { margin-right: 2rem; }
.margin-right-3 { margin-right: 3rem; }
.margin-right-4 { margin-right: 4rem; }
.margin-right-5 { margin-right: 5rem; }
.margin-right-6 { margin-right: 6rem; }
.margin-right-7 { margin-right: 7rem; }
.margin-right-8 { margin-right: 8rem; }

.margin-bottom-1 { margin-bottom: 1rem; }
.margin-bottom-2 { margin-bottom: 2rem; }
.margin-bottom-3 { margin-bottom: 3rem; }
.margin-bottom-4 { margin-bottom: 4rem; }
.margin-bottom-5 { margin-bottom: 5rem; }
.margin-bottom-6 { margin-bottom: 6rem; }
.margin-bottom-7 { margin-bottom: 7rem; }
.margin-bottom-8 { margin-bottom: 8rem; }

.padding-left-1 { padding-left: 1rem; }
.padding-left-2 { padding-left: 2rem; }
.padding-left-3 { padding-left: 3rem; }
.padding-left-4 { padding-left: 4rem; }
.padding-left-5 { padding-left: 5rem; }
.padding-left-6 { padding-left: 6rem; }
.padding-left-7 { padding-left: 7rem; }
.padding-left-8 { padding-left: 8rem; }

.padding-top-1 { padding-top: 1rem; }
.padding-top-2 { padding-top: 2rem; }
.padding-top-3 { padding-top: 3rem; }
.padding-top-4 { padding-top: 4rem; }
.padding-top-5 { padding-top: 5rem; }
.padding-top-6 { padding-top: 6rem; }
.padding-top-7 { padding-top: 7rem; }
.padding-top-8 { padding-top: 8rem; }

.padding-right-1 { padding-right: 1rem; }
.padding-right-2 { padding-right: 2rem; }
.padding-right-3 { padding-right: 3rem; }
.padding-right-4 { padding-right: 4rem; }
.padding-right-5 { padding-right: 5rem; }
.padding-right-6 { padding-right: 6rem; }
.padding-right-7 { padding-right: 7rem; }
.padding-right-8 { padding-right: 8rem; }

.padding-bottom-1 { padding-bottom: 1rem; }
.padding-bottom-2 { padding-bottom: 2rem; }
.padding-bottom-3 { padding-bottom: 3rem; }
.padding-bottom-4 { padding-bottom: 4rem; }
.padding-bottom-5 { padding-bottom: 5rem; }
.padding-bottom-6 { padding-bottom: 6rem; }
.padding-bottom-7 { padding-bottom: 7rem; }
.padding-bottom-8 { padding-bottom: 8rem; }

.gap-025{ gap: 0.25rem; }
.gap-05{ gap: 0.5rem; }
.gap-075{ gap: 0.75rem; }
.gap-1{ gap: 1rem; }
.gap-2{ gap: 2rem; }
.gap-3{ gap: 3rem; }
.gap-4{ gap: 4rem; }
.gap-5{ gap: 5rem; }
.gap-6{ gap: 6rem; }
.gap-7{ gap: 7rem; }
.gap-8{ gap: 8rem; }

@font-face {
    font-family: "Abadi Extra Light";
    src: url("/public/fonts/fontlight.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, p {padding: 0; margin: 0}
h1, h2, h3, h4, h5, h6, p, div, input, span, a, button {
    user-select: none;
    font-family: "Abadi Extra Light", serif;
}
img {
    user-drag: none; /* Para navegadores WebKit */
    user-input: none;
    -moz-user-select: none;
    -webkit-user-drag: none; /* Para navegadores WebKit */
    -moz-user-drag: none; /* Para navegadores Firefox */
    -o-user-drag: none; /* Para navegadores Opera */
    user-select: none; /* Para evitar la selección del texto dentro de la imagen */
    pointer-events: none;
}
.flex-col-only {
    flex-direction: column;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-row-only  {
    flex-direction: row;
}
.flex-row  {
    display: flex;
    flex-direction: row;
}
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}
.center {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.justify {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: justify;
}
.max-width{ width: 100%}
.eighty-width{ width: 80% }
.part-width{ width: 60% }
.half-width { width: 50% }
.third-width { width: 33.33% }

.always-white,
.always-white p,
.always-white h1,
.always-white h2,
.always-white h3,
.always-white h4,
.always-white h5,
.always-white h6,
.always-white div,
.always-white span{
    color: white;
}
.textButton{
    cursor: pointer;
    transition: scale 0.5s ease, color 0.5s ease;
}
.textButton:hover{
    scale: 110%;
}
:root {
    --dark-background: #1a1a1a;
    --light-background: #f5f5f5;
}
#detach-button-host {
    display: none !important;
}
video{
    pointer-events: none;
}